.header{
  background-color: var(--gray-700);
}
.header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 70rem;
  padding: 2rem 1.25rem;
  margin: auto;
}

.header img{
  width: 2rem;
  margin-right: .5rem;
}