.wrapper > div {

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width:768px){
  .wrapper > div{
    grid-template-columns: 1fr;
  }
}

.container{
  max-width: 70rem;
  padding: 2rem 1.25rem;
  margin: auto;
}