:root{
  /*Colors*/
  --white: #fff;

  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-500: #00875f;

  /*Fonts*/
  --font: 'Roboto', sans-serif;
  --size-default: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--size-default);
}
@media (max-width:1080px){
  html {
    font-size: 93.75%; /*15px*/
  }
}
@media (max-width:720px){
  html {
    font-size: 87.5%; /*14px*/
  }
}

body{
  background-color: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button,
a{
  font-family: var(--font);
  font-weight: 400;
  font-size: 1rem;
}